@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.description{
    font-size: 20px;
    font-family: Tahoma, sans-serif, sans-serif;
}